@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-blue-900: hsl(209, 23%, 22%);
  --color-primary-blue-950: hsl(207, 26%, 17%);
  --color-primary-grey-950: hsl(200, 15%, 8%);
  --color-primary-grey-400: hsl(0, 0%, 50%);
  --color-primary-grey-50: hsl(0, 0%, 99%);
  --color-primary-white: hsl(0, 100%, 100%);
  --font-nunito: "Nunito Sans", sans serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  justify-content: center;
  align-items: start;
  gap: 100px;
}
